This analysis aims to better understand business performance by tracking historical sales data to gain valuable insight.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
import plotly.express as px
plt.style.use('fivethirtyeight')#theme for the plot area

In [5]:
# connecting to the datasource
df = pd.read_csv('dataset/bakery_sales.csv', index_col = 0)
df.head(10)

,date,time,ticket_number,article,Quantity,unit_price
0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €"
1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €"
4,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €"
5,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €"
8,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €"
11,2021-01-02,09:25,150043.0,BAGUETTE,2.0,"0,90 €"
12,2021-01-02,09:25,150043.0,CROISSANT,3.0,"1,10 €"
15,2021-01-02,09:27,150044.0,BANETTE,1.0,"1,05 €"
18,2021-01-02,09:32,150045.0,TRADITIONAL BAGUETTE,3.0,"1,20 €"
19,2021-01-02,09:32,150045.0,CROISSANT,6.0,"1,10 €"

In [6]:
print(df.shape)#checking the structure of our data(total rows and columns)

(234005, 6)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 234005 entries, 0 to 511395
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           234005 non-null  object
 1   time           234005 non-null  object
 2   ticket_number  234005 non-null  float64
 3   article        234005 non-null  object
 4   Quantity       234005 non-null  float64
 5   unit_price     234005 non-null  object
dtypes: float64(2), object(4)
memory usage: 12.5+ MB
None

data cleaning processes. removing blanks, duplicates, null values etc

In [9]:
# find missing values
print(df.isna().sum())

date             0
time             0
ticket_number    0
article          0
Quantity         0
unit_price       0
dtype: int64

In [10]:
# find duplicated data
df.duplicated().sum()

np.int64(1210)

In [11]:
# remove the duplicated values
df= df.drop_duplicates()
df.shape

(232795, 6)

In [17]:
# rename the columns to have more meaningful names
df = df.rename(columns = {'date': 'Date',
                          'time':'Time',
                          'ticket_number':'Transaction_id',
                          'article':'Menu',
                          'unit_price':'Price'})

# convert the Menu value to title case
df['Menu'] =df['Menu'].str.title()

# remove the . in quantity and fix the Price
df = df.replace(to_replace = {'Quantity' : {'.': ''},
                              'Price' : {'€' : '', ',':'.'}}, regex=True)

# change the datatype of the Quantity, Price, Menu and Transaction_id
df = df.astype({'Quantity': 'int',
                'Price' : 'float',
                'Transaction_id' : 'int',
                'Menu' : 'str'})

In [18]:
# create a Revenue Column to find the bakery's income
df['Revenue'] = df['Quantity']*df['Price']

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 232795 entries, 0 to 511395
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            232795 non-null  object
 1   Time            232795 non-null  object
 2   Transaction_id  232795 non-null  int64
 3   Menu            232795 non-null  object
 4   Quantity        232795 non-null  int64
 5   Price           232795 non-null  float64
 6   Revenue         232795 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 14.2+ MB
None

In [20]:
df.head()

,Date,Time,Transaction_id,Menu,Quantity,Price,Revenue
0,2021-01-02,08:38,150040,Baguette,1,0.90,0.90
1,2021-01-02,08:38,150040,Pain Au Chocolat,3,1.20,3.60
4,2021-01-02,09:14,150041,Pain Au Chocolat,2,1.20,2.40
5,2021-01-02,09:14,150041,Pain,1,1.15,1.15
8,2021-01-02,09:25,150042,Traditional Baguette,5,1.20,6.00